/* Scss Document */
@import "breakpoint";

  
  @include sm  {
	.table-responsive-sm {
	  display: block;
	  width: 100%;
	  overflow-x: auto;
	  -webkit-overflow-scrolling: touch;
	}
	.table-responsive-sm > .table-bordered {
	  border: 0;
	}


  }
  
  @include md {
	.table-responsive-md {
	  display: block;
	  width: 100%;
	  overflow-x: auto;
	  -webkit-overflow-scrolling: touch;
	}
	.table-responsive-md > .table-bordered {
	  border: 0;
	}



  }
  
  @include lg {
	.table-responsive-lg {
	  display: block;
	  width: 100%;
	  overflow-x: auto;
	  -webkit-overflow-scrolling: touch;
	}
	.table-responsive-lg > .table-bordered {
	  border: 0;
	}

  }



    @include xl {
	.table-responsive-lg {
	  display: block;
	  width: 100%;
	  overflow-x: auto;
	  -webkit-overflow-scrolling: touch;
	}
	.table-responsive-lg > .table-bordered {
	  border: 0;
	}

  }