/*
    [ 목차 ]
    1. ModalAddList
    2. ModalAlert
    3. ModalConfirm
    4. ModalSearch
    5. ModalSearchCondition
    6. ModalSuccess

*/

/* #region ModalAddList */
#modal-add-list>.modal-dialog {
    width: 50vw !important;
    max-width: 800px !important;
    min-width: 500px !important;
}

#modal-add-list>.modal-content {
    height: calc(100vh - 365px);
    min-height: 300px;
}

/* #endregion */

/* #region ModalAlert */
.modal-mask.alert {
    z-index: 10000000000000;
}


/* Icon */
.message-box.alert .icons::before {
    font-family: "aimcons";
    font-style: normal;
}

.message-box.alert .icons.text-info::before {
    content: "\e9b2";
}

.message-box.alert .icons.text-warning::before {
    content: "\e9b8";
}

.message-box.alert .icons.text-error::before {
    content: "\eaec";
    color: #dc3545;
}

/* Text */
.message-box.alert .h-message label {
    font-size: large;
    transform: translateY(25px);
}

.message-box.alert .text-secondary label {
    font-size: larger;
    font-weight: 500;
}

.message-box.alert .text-secondary {
    display: block;
    height: 120px;
    overflow: auto;
    border-color: #ffffff00 !important;
    padding: 0px 7px;
}

/* #endregion */

/* #region ModalConfirm */
.modal-dialog-centered.confirm {
    min-width: 250px !important;
    max-width: 450px !important;
}

.modal-dialog-centered.confirm .modal-body {
    height: 270px;
    padding: 0.4rem 0.5rem !important;
}

.message-box.confirm .h-message {
    display: block;
    height: 55px;
}

.message-box.confirm .h-message label {
    display: block;
    font-weight: 600 !important;
    font-size: 19px;
    margin-left: 3px;
}

.message-box.confirm .h-message span {
    display: block;
    font-size: 14px;
    transform: translate(3.5px, -8px);
    color: #353535;
}

.message-box.confirm .check-user>div {
    display: inline-block;
}



.message-box.confirm .check-user :deep(.password input) {
    margin-right: 0;
}

.message-box.confirm .check-user button :deep(i) {
    font-size: 18px;
}

.message-box.confirm .check-user button:hover:not(.verfied) {
    color: #f97203 !important;
}

.message-box.confirm .check-user button:disabled {
    color: #27ba4a !important;
    opacity: 1;
}


.message-box.confirm .user-field+textarea {
    width: 100%;
    height: 75px;
    outline: 0;
    border-color: #e0e0e0;
    border-radius: 5px;
    resize: none;
    margin-top: 5px;
    padding: 3px 5px !important;
}

/* #endregion */

/* #region ModalSearch */
.modal-search .modal-dialog{
    width: 50vw !important;
    max-width: 800px !important;
    min-width: 500px !important;
}

@media (max-width: 1690px) {
    .modal-search {
        height: calc(100vh - 260px);
    }
}

@media (max-width: 1480px) {
    .modal-search {
        height: calc(100vh - 220px);
    }
}

.modal-search .e-grid .e-gridcontent,
#right-pane .modal-search .e-grid .e-gridcontent {
    height: calc(100vh - 600px) !important;
}

/* #endregion */

/* #region ModalSearchCondition */
/* #endregion */

/* #region ModalSuccess */
.modal-success {
    position: absolute;
    width: 230px;
    height: 50px;
    bottom: -73px;
    right: 17px;
    padding: 8px 12px;
    z-index: 10000000;
    background: #fa8014;
    border-radius: 5px;
    color: #ffffffee;
    transition: transform 0.5s ease-in;
    cursor: pointer;
}

.modal-success .spinner {
    position: absolute;
    display: inline-block;
    top: -1px;
    left: 0px;
    width: 50px;
    height: 50px;
}

.modal-success #check {
    position: relative;
    font-size: 18px;
    top: 13px;
    left: 16.2px;
    opacity: 0;
    transition: opacity 0.7s linear;
}

.modal-success b {
    position: relative;
    display: block;
    top: 5px;
    left: 35px;
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.5s linear;
    font-weight: 500;
}

.modal-success button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    padding: 0;
    background: none;
    border: none;
}

.modal-success button #close {
    opacity: 0;
    color: #ffffffee;
    font-size: smaller;
    transition: opacity 0.1s ease-in;
}

.modal-success button:hover #close {
    color: white;
}

.modal-success.on {
    transform: translateY(-120px);
    transition: transform 0.3s linear;
}

.modal-success.on #check {
    font-size: 18px;
    top: 13px;
    left: 16.2px;
    opacity: 1;
    transition: opacity 0.5s ease-in 0.5s;
    animation: scale-up ease-in 0.5s 0.5s forwards;
    border-radius: 15px;
}

.modal-success.on b {
    opacity: 1;
    transition: opacity 0.7s linear;
}

.modal-success.on button #close {
    opacity: 1;
    transition: opacity 0.2s ease-in 1s;
}

.modal-success .spinner::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 11px solid #ffffff48;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(0deg) scale(0.7);
}

.modal-success.on .spinner::before {
    border: 7px solid #ffffff00;
    animation: spin 0.8s linear 0.2s forwards;
}

@keyframes scale-up {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(0.8);
        border-top-color: #ffffffdc;
    }

    50% {
        transform: translate(-50%, -50%) rotate(180deg) scale(0.9);
        border-color: #ffffff84 #00b89300;
    }

    90% {
        transform: translate(-50%, -50%) rotate(360deg) scale(0.5);
        border-color: #ffffff0c;
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) scale(0.7);
        border: 11px solid #ffffff48;
    }
}

/* #endregion ModalSuccess */